<!-- ウィンドウサイズが小さい時 -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>シンプルなHTML</title>
</head>
<body>
    <div class="container">
        <div class="side_large">
            <img src="left-image.jpg" alt="Left Image">
        </div>

        <!-- 中央のメインコンテンツ -->
        <div class="main">
            
            <p>ここにメインのコンテンツが入ります</p>
            <!-- 左側の画像 -->
            <div class="side">
                <img src="left-image.jpg" alt="Left Image">
            </div>
            <!-- 右側の画像 -->
            <div class="side">
                <img src="right-image.jpg" alt="Right Image">
            </div>
        </div>

        <div class="side_large">
            <img src="right-image.jpg" alt="Right Image">
        </div>

        
    </div>
</body>
</html>
